@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
:root {
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  background: var(--Off-white);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.container {
  background: var(--White);
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 90px 30px;
  padding: 20px;
}
form#age-calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.number-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
img.submit {
  background-color: var(--Purple);
  border: none;
  width: 100%;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}
.number-input {
  margin: 0 20px;
}

.number-input input {
  width: 100px; 
  border: 1px var(--Light-grey) solid;
  border-radius: 5px;
}